.chatonline-container{
    align-items: center;
    margin-top: 20px;
}

.chatonline-friend{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 20px;
}

.chatonline-imgwrapper{
    margin-right: 15px;
    position: relative;
}

.chatonline-img{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.chatonline-badge{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: greenyellow;
    position: absolute;
    top: -1px;
    right: -1px;
}

